:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

::selection {
  background-color: $c010;
  color: $c080;
}

html,
body {
  background-color: $c005;
  color: $c100;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: $c100;
    color: $c005;
  }
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

// hide scrollbar
html::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

// normalize
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a,
a:active,
a:hover,
a:visited {
  color: currentColor;
  outline: 0;
}

a:hover {
  color: $c050;
}
