:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

::selection {
  background-color: $c010;
  color: $c080;
}

html,
body {
  background-color: $c005;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a,
a:active,
a:hover,
a:visited {
  color: currentColor;
  outline: 0;
}

a:hover {
  color: $c050;
}
