.outer-container {
  margin-left: 4rem;
}

.inner-container {
  margin-right: 4rem;
}

@media screen and (min-width: 1024px) {
  .outer-container {
    margin-left: 20%;
  }

  .inner-container {
    width: 75%;
  }
}
