::selection {
  color: white;
  background-color: #000;
}

html,
body {
  background-color: $c005;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a,
a:active,
a:hover,
a:visited {
  color: currentColor;
  outline: 0;
}

main {
  h1 {
    font-size: 5rem;
    font-weight: 400;
  }
}

footer {
  height: 10vh;
}

footer {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
